* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', cursive;
}


/* ####### Header section start */
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: whitesmoke;
    box-shadow:0px 0px 3px 0px grey ;
}
a.logo {
    font-size: 22px;
    padding: 5px 0 0 20px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: coral;
}
.menu {
    display: inline-block;
    padding-left: 10px;
    float: right;
}

.menu li {
    display: inline-block;
    font-size: 16px;
}
.menu li a {
    text-decoration: none;
    display: inline-block;
    margin-right:20px;
    padding: 10px;
    color: rgb(43, 41, 41) ;
    transition: all 0.5s;
}
.menu li a:hover {
    background-color: rgb(209, 210, 212);
}

.toggle-btn {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px 15px;
    transition: all 0.3s;
}

.toggle-btn label {
    font-size: 26px;
    display: none;
}
#toggle {
    display: none;
}

.bg-1 {
    z-index: -10;
    background-image: url('../images/bg-1.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}
.banner {
    position: relative;
    background-color: transparent;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 60px;
    background-color: transparent;
}



/* #######About us section start */
.about-text {
    text-align: center;
    padding-top: 60px;
    width:80% ;
    margin: auto;
}
.about-text p {
    text-align: justify;
}
.about-box {
    width: 80%;
    margin: auto;
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
}

.img-box {
    flex: 1;
    /* margin-right: 20px; */
    min-width: 300px;
    max-height: 300px;
    margin: 20px;
}
.ab-text {
    flex: 1;
    text-align: justify;
    min-width: 300px;
    margin: 20px 0;
}
.my-pic{
    height: 250px;
    background-image: url('../images/mypic.jpg');
    background-size: cover;
    background-position: center;
}
.about-box + p {
    text-align: center;
}
.p-bar-div {
    width: 80%;
    margin: auto;
}
.p-bar-div p {
    letter-spacing: 2px;
}
.main-bar {
    width: 100%;
    background-color: lightgray;
    margin: 10px 0;
}
.bar-1{
    width: 90%;
    background-color:cornflowerblue;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    color: whitesmoke; 
}
.bar-2{
    width: 80%;
    background-color:cornflowerblue;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.bar-3{
    width: 75%;
    background-color:cornflowerblue;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.infobar {
    display: flex;
    background-color: cornflowerblue;
    color: whitesmoke;
    justify-content: space-around;
    padding: 20px;
    margin-top: 40px;
}



/* #######Portfolio section start */
.portfolio-bg {
    z-index: -10;
    background-image: url('../images/portfolio.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio h1{
    font-size: 50px;
    letter-spacing: 5px;
    color: whitesmoke;
}
.my-text {
    text-align: center;
    margin-top: 30px;
}
.img-gallery {
    width: 80%;
    margin:20px auto;
} 
.img-contianer {
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
.img-contianer div {
    margin: 5px;
}
.imgs1 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs2 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img2.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs3 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img3.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs4 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img4.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs5 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img5.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs6 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img6.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs7 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img7.jpg');
    background-size: cover;
    background-position: center;    
}
.imgs8 {
    width: 250px;
    height: 150px;
    background-image: url('../images/img8.jpg');
    background-size: cover;
    background-position: center;    
}
.img-hover:hover {
    background-color: rgba(255, 255, 255, 0.37);
    opacity: 0.5;
}
.more {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
}
.more a {
   display: inline-block;
   text-decoration: none;
   letter-spacing: 1px;
   padding: 5px 10px;
   background-color: cornflowerblue;
   color: whitesmoke;
   transition: all .2s;
}
.more a:hover {
    background-color: rgb(24, 99, 238);
    color: whitesmoke;
 }



/* #######contact section start */
.contact {
    z-index: -10;
    background-image: url('../images/contact.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h1 {
    color: whitesmoke;
    font-size: 50px;
    letter-spacing: 5px;
}
.details {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-box {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.map-img {
    flex: 1;
    min-width: 210px;
    height: 250px;
    background-image: url('../images/map.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 30px;
}
.form {
    flex: 2;
    margin:0 30px;
    min-width: 300px;
}
.inputs {
    margin-top: 10px;
    display: flex;
    width: 100%;
}
.inputs div {
    width: 100%;
}
.inputs > div.mr-10{
    margin-right: 10px;
}
.inputs div input{
    width: 100%;
}
.inputs1 input {
    width: 100%;
}
.inputs input, .inputs1 input{
    border: 2px solid cornflowerblue;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.inputs input:hover, .inputs1 input:hover{
    border: 2px solid cornflowerblue;

    background-color: cornflowerblue;
    color: whitesmoke;
}
.send {
    float: right;
}
.send-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: whitesmoke;
    text-decoration: none;
}
.send-btn:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    text-decoration: none;
}



/* #######footer section start */
.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    height: 200px;
    align-items: center;
    flex-direction: column;
}
.footer a {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: whitesmoke;
    text-decoration: none;
}
.footer a:hover {
    background-color: whitesmoke;
    color: black;
    transition: all .4s;
}
.footer p{
    color: whitesmoke;
    margin-top: 10px;
}




@media only screen and (max-width:320px)
{
    .img-box {
        margin: 0;
        min-width: auto;
    }
    .ab-text {
        min-width: 250px;
    }
}


@media only screen and (max-width:425px) {
    .infoitem {
        width: 100%;
        text-align: center;
    }
    .infobar {
        flex-wrap: wrap;
    }
    .img-contianer {
        flex-wrap: wrap;
    }
    .contact-box {
        flex-wrap: wrap;
    }
    .map-img{
        min-width: 200px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:570px){
    .toggle-btn label {
        display: block;
        cursor: pointer;
    }
    .toggle-btn {
        display: block;
    }
    label.toggle-btn {
        background-color: transparent;
        color: rgb(3, 90, 250);
        font-size: 20px;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu li {
        display: block;
        text-align: center;
    }
    a.logo {
        display: none;
    }
    #toggle {
        display: none;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .map-img{
        min-width: 200px;
        margin-bottom: 20px;
    }
    .contact-box {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:768px)
{
    a.logo {
        font-size: 18px;
    }
    .menu li {
        font-size: 12px;
    }
}
